---
layout: home
active: home
title: Imarc Demo
excerpt: Some excerpt about some stuff
slug: home
---


  <header class="top-banner">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-7">
          <h1>Lorem Ipsum</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
  </header>

  <div class="were-known-for">

    <div class="container">
      <h2>What we're known for</h2>

      <div class="row justify-content-center">

        <div class="col-md-6 col-lg-4">
          <div class="known-for">
            <span class="known-icon">
              <img src="/assets/img/icon-leadership.svg" alt="Mobile Devices">
            </span>
            <span class="known-text">
              Leadership <br> Development <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21 12l-18 12v-24z"/></svg>
            </span>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="known-for">
            <span class="known-icon">
              <img src="/assets/img/icon-tech.svg" alt="Mobile Devices">
            </span>
            <span class="known-text">
              Technology &amp; <br> Development <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21 12l-18 12v-24z"/></svg>
            </span>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="known-for">
            <span class="known-icon">
              <img src="/assets/img/icon-compliance.svg" alt="Mobile Devices">
            </span>
            <span class="known-text">
              Compliance <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21 12l-18 12v-24z"/></svg>
            </span>
          </div>
        </div>

      </div>
    </div>
  </div>














  <div class="feature-grid">
    <div class="container">
      <div class="row no-gutters">

        <div class="col-md-6 col-lg-4">
          <div class="first-column">
            <div class="feature-block feature-1">
              <div class="feature-block-text color-primary">
                <h4>Leadership Development</h4>
                <p>Leading with Vision</p>
                <div class="read-more-link">Read This <span>→</span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="second-column">

            <div class="feature-block feature-2">
              <div class="feature-block-text color-secondary">
                <h4>Technology &amp; Development</h4>
                <p>Developer</p>
                <div class="read-more-link">Read That <span>→</span></div>
              </div>
            </div>

            <div class="feature-block feature-3">
              <div class="feature-block-text color-tertiary">
                <h4>Compliance</h4>
                <p>Work Place Harassment Training</p>
                <div class="read-more-link">Watch the Webinar <span>→</span></div>
              </div>
            </div>

          </div>
        </div>


        <div class="col-lg-4">
          <div class="third-column">
            <div class="row no-gutters">

              <div class="col-md-4 col-lg-12">
                <div class="feature-block feature-4">
                  <div class="feature-block-text color-tertiary">
                    <h4>Technology &amp; Development</h4>
                    <p>Security</p>
                    <div class="read-more-link">Lock it Down <span>→</span></div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-lg-12">
                <div class="feature-block feature-5">
                  <div class="feature-block-text color-secondary">
                    <h4>Leadership Development</h4>
                    <p>Management Essentials</p>
                    <div class="read-more-link">Do Some Leading <span>→</span></div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-lg-12">
                <div class="feature-block feature-6">
                  <div class="feature-block-text color-primary">
                    <h4>Compliance</h4>
                    <p>Description</p>
                    <div class="read-more-link">Resistance is Futile <span>→</span></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>


      </div>
    </div>
  </div>














  <section class="ways-to-learn">
    <h2>Ways you can learn</h2>

    <div class="way-to-learn">
      <span class="learn-icon">
        <img src="/assets/img/icon-learn-mobile.svg" alt="Mobile Devices">
      </span>
      Mobile Devices
    </div>

    <div class="way-to-learn">
      <span class="learn-icon">
        <img src="/assets/img/icon-learn-ebook.svg" alt="Mobile Devices">
      </span>
      eBooks
    </div>

    <div class="way-to-learn">
      <span class="learn-icon">
        <img src="/assets/img/icon-learn-live.svg" alt="Mobile Devices">
      </span>
      Live Learning
    </div>

  </section>