{%- if page.author -%}
&nbsp;&bull;&nbsp;
<span class="article-author" itemprop="author" itemscope itemtype="https://schema.org/Person">
	{{ page.author }}
</span>
{%- elsif site.author -%}
&nbsp;&bull;&nbsp;
<span class="article-author" itemprop="author" itemscope itemtype="https://schema.org/Person">
	{{ site.author }}
</span>
{%- endif -%}
