{%- if post.date -%}
<span class="article-date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
	{{ post.date | date: "%b %-d, %Y" }}
</span>
{%- elsif products.date -%}
<span class="article-date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
	{{ products.date | date: "%b %-d, %Y" }}
</span>
{%- elsif events.date -%}
<span class="article-date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
	{{ events.date | date: "%b %-d, %Y" }}
</span>
{%- endif -%}
