<h3>Call or Visit</h3>
<p>If you'd rather speak to a person on the phone or in person when circumstances allow, here's how you can get in touch.</p>

<hr>

<p>
	<strong>Address:</strong> <br>
	<span itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
		<span itemprop="streetAddress">
			<a href="https://g.page/ImarcAgency?share" target="_blank">
				<svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z"/></svg> 
				Imarc HQ
			</a>
		</span>
	</span>
</p>

<p>
	<strong>Phone:</strong> <br>
	<span itemprop="telephone">
		<a href="tel:19784628848">
			<svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 2c0-1.104-.896-2-2-2h-10c-1.104 0-2 .896-2 2v20c0 1.104.896 2 2 2h10c1.104 0 2-.896 2-2v-20zm-8.5 0h3c.276 0 .5.224.5.5s-.224.5-.5.5h-3c-.276 0-.5-.224-.5-.5s.224-.5.5-.5zm1.5 20c-.553 0-1-.448-1-1s.447-1 1-1c.552 0 .999.448.999 1s-.447 1-.999 1zm5-3h-10v-14.024h10v14.024z"/></svg> 
			(978) 462-8848
		</a>
	</span>
</p>

<p id="hours"><strong>Hours:</strong> <br>Mon-Fri 9:00am - 5:00pm <br>Sat-Sun Closed</p>

