<form class="contact-form" name="contact" method="POST" data-netlify="true" action="/thanks/">
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="form_name">First name *</label>
        <input id="form_name" type="text" name="name" class="form-control" placeholder="Your first name" required="required">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="form_lastname">Last name *</label>
        <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Your last name" required="required">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="form_email">Email *</label>
        <input id="form_email" type="email" name="email" class="form-control" placeholder="Your email" required="required">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="form_need">Reason for contact *</label>
        <select id="form_need" name="need" class="form-control" required="required">
          <option value="Special order request" selected="selected">Special order request</option>
          <option value="Product question">Product question</option>
          <option value="General question">General question</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group">
        <label for="form_message">Message *</label>
        <textarea id="form_message" name="message" class="form-control" placeholder="Please type your message here" rows="4" required="required"></textarea>
      </div>
    </div>
    <div class="col-lg-12">
      <input type="submit" class="btn btn-primary" value="Send message">
    </div>
  </div>
</form>



{% comment %}
email goes to eric@mihanfamilybeverage.com
{% endcomment %}