  <footer>

  	<div class="container">
  		<div class="company-info">

  			<div class="row">

  				<div class="col-sm-12 col-lg-3">
  					<div class="footer-block">
  						<a class="footer-brand" rel="author" href="{{ '/' | relative_url }}"><img src="/assets/img/Logo@2x.png" alt="{{ site.title | escape }}"></a>
  						<div class="social-block">
  							<a href="#"><svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.5 8.778c-.441.196-.916.328-1.414.388.509-.305.898-.787 1.083-1.362-.476.282-1.003.487-1.564.597-.448-.479-1.089-.778-1.796-.778-1.59 0-2.758 1.483-2.399 3.023-2.045-.103-3.86-1.083-5.074-2.572-.645 1.106-.334 2.554.762 3.287-.403-.013-.782-.124-1.114-.308-.027 1.14.791 2.207 1.975 2.445-.346.094-.726.116-1.112.042.313.978 1.224 1.689 2.3 1.709-1.037.812-2.34 1.175-3.647 1.021 1.09.699 2.383 1.106 3.773 1.106 4.572 0 7.154-3.861 6.998-7.324.482-.346.899-.78 1.229-1.274z"/></svg></a>
  							<a href="#"><svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 10h-2v2h2v6h3v-6h1.82l.18-2h-2v-.833c0-.478.096-.667.558-.667h1.442v-2.5h-2.404c-1.798 0-2.596.792-2.596 2.308v1.692z"/></svg></a>
  							<a href="#"><svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 8c0 .557-.447 1.008-1 1.008s-1-.45-1-1.008c0-.557.447-1.008 1-1.008s1 .452 1 1.008zm0 2h-2v6h2v-6zm3 0h-2v6h2v-2.861c0-1.722 2.002-1.881 2.002 0v2.861h1.998v-3.359c0-3.284-3.128-3.164-4-1.548v-1.093z"/></svg></a>
  							<a href="#"><svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16.23 7.102c-2.002-.136-6.462-.135-8.461 0-2.165.148-2.419 1.456-2.436 4.898.017 3.436.27 4.75 2.437 4.898 1.999.135 6.459.136 8.461 0 2.165-.148 2.42-1.457 2.437-4.898-.018-3.436-.271-4.75-2.438-4.898zm-6.23 7.12v-4.444l4.778 2.218-4.778 2.226zm2-12.222c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12z"/></svg></a>
  						</div>
  					</div>
  				</div>

  				<div class="col-sm-3 col-md-2">
  					<div class="footer-block">
  						<h4>Company</h4>
  						<ul>
  							<li><a href="#">Leadership</a></li>
  							<li><a href="#">Newsroom</a></li>
  						</ul>
  					</div>
  				</div>

  				<div class="col-sm-3 col-md-2">
  					<div class="footer-block">
  						<h4>Blog</h4>
  					</div>
  				</div>

  				<div class="col-sm-3 col-md-2">
  					<div class="footer-block">
  						<h4>Resources</h4>
  					</div>
  				</div>

  				<div class="col-sm-3 col-md-2">
  					<div class="footer-block">
  						<h4>Contact</h4>
  					</div>
  				</div>

  			</div>

  		</div>



  		<div class="copyright">
  			<div class="row">
  				<div class="col-sm-5 copyright-l">
  					<p>&copy; <span id="year"></span> {{ site.title | escape }}</p>
  				</div>
  				<div class="col-sm-7 copyright-r">
  					<p><a href="#">Security</a> <a href="#">Privacy Policy</a></p>
  				</div>
  			</div>
  		</div>

  	</div>









    <!-- /.container -->
  </footer>
  




<a class="scrollup js-scroll-trigger" id="scrollUpButton" href="#page-top"><svg class="scrollup-chevron" xmlns="https://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z"/></svg><span class="sr-only">to top</span></a>