<head>
{% comment %}<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P35RBCP');</script>
<!-- End Google Tag Manager -->{% endcomment %}

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta name="author" content="{{ site.author }}">

<!-- Facebook open graph -->

	<meta content="{{ site.title }}" property="og:site_name">
	{% if page.title %}
	<meta content="{{ page.title }}" property="og:title">
	{% else %}
	<meta content="{{ site.title }}" property="og:title">
	{% endif %}

	{% if page.title %}
	<meta content="article" property="og:type">
	{% else %}
	<meta content="website" property="og:type">
	{% endif %}

	{% if page.excerpt %}
	<meta content="{{ page.excerpt }}" property="og:description">
	{% else %}
	<meta content="{{ site.description }}" property="og:description">
	{% endif %}

	{% if page.url %}
	<meta content="{{ site.url }}{{ page.url }}" property="og:url">
	{% endif %}

	{% if page.date %}
	<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
	<meta content="{{ site.url }}/about/" property="article:author">
	{% endif %}

	{% if page.featured_image %}
	<meta content="{{ site.url }}{{ page.featured_image }}" property="og:image">
	{% else %}
	<meta content="{{ site.url }}/assets/img/hero01.jpg" property="og:image">
	{% endif %}

	{% if page.categories %}
	{% for category in page.categories limit:1 %}
	<meta content="{{ category }}" property="article:section">
	{% endfor %}
	{% endif %}

	{% if page.categories %}
	{% for tag in page.categories %}
	<meta content="{{ tag }}" property="article:tag">
	{% endfor %}
	{% endif %}

<!-- Twitter cards -->

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@{{ site.twitter_username }}">
	<meta name="twitter:creator" content="@{{ site.twitter_username }}">

	{% if page.title %}
	<meta name="twitter:title" content="{{ page.title }}">
	{% else %}
	<meta name="twitter:title" content="{{ site.title }}">
	{% endif %}

	{% if page.url %}
	<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
	{% endif %}

	{% if page.excerpt %}
	<meta name="twitter:description" content="{{ page.excerpt }}">
	{% else %}
	<meta name="twitter:description" content="{{ site.description }}">
	{% endif %}

	{% if page.featured_image %}
	<meta name="twitter:image:src" content="{{ site.url }}{{ page.featured_image }}">
	{% else %}
	<meta name="twitter:image:src" content="{{ site.url }}/assets/img/hero01.jpg">
	{% endif %}


	{% comment %} <!-- automatic redirect to homepage if page not found --> 
	{% if page.url == "/404.html" %}
	<meta http-equiv="refresh" content="11; url=/">
	{% endif %}
	{% endcomment %}
	
	<!-- Styles, scripts, and RSS -->
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" />

	<style type="text/css">{% include critical.css %}</style>
	{% comment %}
	<!-- google font, concat later -->
	<link rel="stylesheet" href="{{ '/assets/css/styles.min.css' | prepend: site.baseurl }}">
	
	<!-- When we generate critical CSS, uncomment this Jekyll statement -->
	{% endcomment %}

</head>
