  <nav class="navbar navbar-expand-lg">
    <div class="container">

      <a class="navbar-brand" rel="author" href="{{ '/' | relative_url }}"><img src="/assets/img/Logo@2x.png" alt="{{ site.title | escape }}"></a>

      <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}

        {%- if page_paths -%}
          <ul class="navbar-nav mr-auto primary-menu">
             {% for item in site.data.navigation.docs %}
              {% if {{page.active}} == {{item.active}} %}
                <li class="nav-item"><a class="nav-link active" href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a></li>
              {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a></li>
              {% endif %}
             {% endfor %}
          </ul>
        {%- endif -%}

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="btn nav-cta-button">Free Trial <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21 12l-18 12v-24z"/></svg></a>
          </li>
        </ul>
      </div>

    </div>
  </nav>