<div class="row">

{% assign maxRelated = 3 %}

{% assign minCommonTags =  1 %}

{% assign maxRelatedCounter = 0 %}

{% for products in site.products %}

    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}

    {% for tag in products.tags %}

    {% if products.url != page.url %}
        {% if products.tags contains tag %}
        {% assign sameTagCount = sameTagCount | plus: 1 %}
        {% capture tagmarkup %} <span class="label label-default">{{ tag }} derf</span> {% endcapture %}
        {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
    {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommonTags %}

      <div class="col-sm-6 col-md-4">
        <div class="product-container">
          <a class="product-link" href="{{ products.url | prepend: site.baseurl }}">
            <img class="product-image" src="{{ products.thumbnail_image }}" alt="{{ products.title }}"/>
          </a>
          <div class="product">
            <p class="product-name text-center"><a href="{{ products.url | prepend: site.baseurl }}">{{ products.title }}</a></p>
          </div>
        </div>
      </div>

    {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
    {% if maxRelatedCounter >= maxRelated %}
        {% break %}
    {% endif %}
    {% endif %}

{% endfor %}

</div>





{% comment %}

{% assign maxRelated = 5 %}

{% assign minCommonTags =  3 %}

{% assign maxRelatedCounter = 0 %}

{% for post in site.posts %}

    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}

    {% for tag in post.tags %}

    {% if post.url != page.url %}
        {% if page.tags contains tag %}
        {% assign sameTagCount = sameTagCount | plus: 1 %}
        {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
        {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
    {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommonTags %}
    <div>
    <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}{{ commonTags }}</a></h5>
    </div>
    {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
    {% if maxRelatedCounter >= maxRelated %}
        {% break %}
    {% endif %}
    {% endif %}

{% endfor %}

{% endcomment %}