// FONT FAMILIES
// Font files are located in assets/fonts, currently choose from the fonst listed below. 
// Only un-comment what you need to keep your CSS light

// Montserrat (sans-serif)

@font-face {
    font-family: 'montserratextrabold';
    src: url('../fonts/montserrat/montserrat-extrabold.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratsemibold';
    src: url('../fonts/montserrat/montserrat-semibold.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratmedium';
    src: url('../fonts/montserrat/montserrat-medium.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat/montserrat-regular.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat/montserrat-light.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body,
button,
input,
select,
optgroup,
textarea,
a,
p {
	color: $color_black;
	font-family: 'montserratregular';
	font-weight: 400;
	font-size: 16px;
}


// footer fix
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'montserratmedium';
	color: $color_text_headings;
}

p {
	color: $color_text_main;
	margin-bottom: 1.5rem;
}


// body {
//   padding-top: 56px;
// }

.main-content {
	margin-bottom: 2 * $spacing_unit;
}

.btn-primary {
	background-color: $color_primary;
	border-color: $color_primary;
	color: #fff !important;

	&:active, 
	&.active, 
	&:focus,
	&:hover {
		outline: none;
		border: none;
		box-shadow: none;
		background-color: darken($color_primary, 5%);
		border-color: darken($color_primary, 5%);
		border: 1px solid transparent;
	}
}