
// animate gallery height
.preview-item-grid {
  transition-duration: 0.3s;
  transition-property: height, width;
}


/* ---- button ---- */

.filter-button {
  display: inline-block;
  padding: 0;
  margin: 10px 10px 10px 0;
  background: transparent;
  border: none;
  color: #222;
  // font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: border-color .3s;

  &:hover {
    // background-color: #ddd;
    color: #222;
    border-bottom: 1px solid #ccc;
  }

  &:focus {
    outline: none;
  }

  // &:active,
  // &.is-checked {
  //   background-color: #eee;
  // }

  &.is-checked {
    color: #222;
    border-bottom: 1px solid #222;
  }

  // &:active {
  //   box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
  // }
}



/* ---- button-group ---- */


.center-text {
  text-align: center;
}

.button-group {
  margin-bottom: 40px;

  .filter-button {
    display: inline-block;
    border-radius: 0;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

