// Homepage featured items
section {
	padding: $spacing_unit 0;
}

.were-known-for {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: $spacing_unit * 2;

	h2 {
		margin: $spacing_unit 0 ($spacing_unit * 2);
	}
}

.known-for {
	line-height: 1;
	text-align: left;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: $spacing_unit * 2;
	font-size: 18px;
	padding: 0 $spacing_unit;

	@include tablet {
		padding: 0;
	}

	@include desktop {
		font-size: 20px;
	}
}

.known-icon {
	display: inline-block;

	img {
		display: block; 
		max-width: 80px;
		max-height: 80px;
	}
}

.known-text {
	display: inline-block;
	padding: 0 0 0 $spacing_unit;

	.icon {
		height: .75rem;
		width: .75rem;

		path {
			fill: $color_primary;
		}
	}
}









.feature-grid {
	margin-bottom: $spacing_unit * 2;
}

.feature-block-text {
	position: absolute; 
	width: 100%;
	left: 0;
	bottom: 0;
	padding: $spacing_unit / 2;

	.read-more-link {
		color: #fff;
		display: block;
		line-height: $spacing_unit;
		transition: all .3s;

		span {
			display: inline-block;
			animation: bounceRight 1s infinite;
		}

		@include tablet {
			max-height: 0px;
			opacity: 0;
			visibility: hidden;
			line-height: $spacing_unit * 2;

			.feature-block:hover & {
				max-height: 100px;
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.feature-block {
	position: relative;
	min-height: $feature_grid_col2;
	background: $color_lightgray; // fallback background color
	background: url('/assets/img/feature-2.jpg'); // default image
	@include bgImage;

	border-bottom: $feature_grid_border solid #fff;

	@include tablet {
		min-height: $feature_grid_col3;
		border-left: $feature_grid_border solid #fff;
	}

	h4 {
		color: #fff;
		text-transform: uppercase;
		margin: 0;
	}

	p {
		color: $color_black;
		margin: 0;
	}

	@include tablet {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			opacity: 0;
			transition: opacity .2s;
			padding: $spacing_unit / 2;
		}

		&:hover {
			cursor: pointer;

			&:before {
				opacity: 1;
			}
		}
	}

	&.feature-1 {
		background: url('/assets/img/feature-1.jpg'); 

		&:before {
			background: $color_primary;
		}
	}

	&.feature-2 {
		background: url('/assets/img/feature-2.jpg'); 

		&:before {
			background: $color_secondary;
		}
	}

	&.feature-3 {
		background: url('/assets/img/feature-3.jpg'); 

		&:before {
			background: $color_tertiary;
		}
	}

	&.feature-4 {
		background: url('/assets/img/feature-4.jpg'); 

		&:before {
			background: $color_tertiary;
		}
	}

	&.feature-5 {
		background: url('/assets/img/feature-5.jpg'); 

		&:before {
			background: $color_secondary;
		}
	}

	&.feature-6 {
		background: url('/assets/img/feature-6.jpg'); 

		&:before {
			background: $color_primary;
		}
	}
}

.first-column {
	@include tablet {
		.feature-block {
			height: $feature_grid_col3 * 2;
		}
	}

	@include laptop {
		.feature-block {
			height: $feature_grid_col1;
		}
	}
}

.second-column {
	@include tablet {
		.feature-block {
			height: $feature_grid_col3;
		}
	}

	@include laptop {
		.feature-block {
			height: $feature_grid_col2;
		}
	}
}

.third-column {
	@include tablet {
		.feature-block {
			height: $feature_grid_col3;
		}
	}

	@include laptop {
		.feature-block {
			height: $feature_grid_col3;
		}
	}
}

.color-primary {
	background: $color_primary;
}

.color-secondary {
	background: $color_secondary;
}

.color-tertiary {
	background: $color_tertiary;
}






.ways-to-learn {
	background: $color_lightgray;
	text-align: center;

	h2 {
		margin: $spacing_unit 0;
	}
}

.way-to-learn {
	display: inline-block;
	margin-bottom: $spacing_unit;
	text-transform: uppercase;
	font-size: 20px;

	@include tablet {
		margin: 0 $spacing_unit $spacing_unit;
	}

	img {
		display: block;
		margin: 0 auto;
	}
}

.learn-icon {
	display: block;
	margin: 0 $spacing_unit ($spacing_unit / 2);
}