footer {
  // background: tan;
}

.company-info {
  // padding-bottom: $spacing_unit;
}

.copyright {
  border-top: 2px solid $color_tertiary;
      padding: $spacing_unit 0;

  a {
    font-family: 'montserratlight';
    font-size: 12px;
    display: inline-block;
    margin: ($spacing_unit / 2) $spacing_unit 0 0;

    @include phablet {
      margin: 0 0 0 $spacing_unit;
    }
  }

  p {
    font-family: 'montserratlight';
    font-size: 12px;
    margin: 0;
    line-height: 1.2;
  }

  .copyright-l {
    @include phablet {
      text-align: left;
    }
  }

  .copyright-r {
    @include phablet {
      text-align: right;
    }
  }
}

.footer-block {
  margin-bottom: $spacing_unit;

  h4 {
    font-size: 14px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      line-height: 1.6;
    }
  }

  a {
    font-family: 'montserratlight';
  }

  img {
    display: block;
    max-width: 130px;
    margin-bottom: $spacing_unit / 3;
  }
}

.social-block {
  margin-bottom: $spacing_unit;

  a {
    color: $color_primary;
    font-size: 24px;

    &:hover {
      background-color: darken($color_primary, 5%);
      border-color: darken($color_primary, 5%);
    }
  }
}



// footer fix

.site {
  display: flex;
  flex-direction: column;
  height: 100%; /* 1, 3 */
}

.site-header,
.site-footer {
  flex: none; /* 2 */
}

.site-content {
  flex: 1 0 auto; /* 2 */
  padding: 0 0;
  width: 100%;
}

.site-content::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: 0;
  height: 0px;
  visibility: hidden;
}
