


.top-banner {
	background: $color_secondary;
	background-image: url('/assets/img/bg-banner.jpg');
	// @include bgImage;

	height: 50vh;
	margin: 0 0 ($spacing_unit * 2);



	background-repeat: no-repeat; 
	background-size: cover;
	background-position: 70% 50%;


	@include tablet {
		height: 60vh;
	}

	@include desktop {
		height: 70vh;
		background-position: top center;
	}


	h1 {
		font-family: 'montserratextrabold';
		text-transform: uppercase;
		margin-top: 0;
		color: $color_white;
		line-height: 1.0;

		@include tablet {
			font-size: 50px;
			margin-bottom: 70px;
		}

		@include laptop {
			font-size: 70px;
			// margin-bottom: 140px;
		}

		@include desktop {
			font-size: 84px;
			margin-bottom: 140px;
		}
	}

	p {
		margin: 0;
		color: $color_black;

		@include tablet {
			font-size: 20px;
		}

		@include laptop {
			font-size: 22px;
		}
	}
}

.top-banner-cta {

}

.post-header {
	background: $color_secondary;
	padding: 50px 0;
	margin-bottom: $spacing_unit;

	h1 {
		color: $color_white;
	}
}