
// Make sure embeds and iframes fit their containers. 
embed,
iframe,
object,
img {
  max-width: 100%;
}

// Make sure logo link wraps around logo image
.custom-logo-link {
  display: inline-block;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; // 16:9 
  margin-bottom: 15px;
  height: 0;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
      border: none;
  }
}
