// Media queries
// @include mobile { selector: style; }
//––––––––––––––––––––––––––––––––––––––––––––––––––
@mixin mobile   { @media (min-width: #{$width_mobile})  { @content; } }
@mixin phablet  { @media (min-width: #{$width_phablet}) { @content; } }
@mixin tablet   { @media (min-width: #{$width_tablet})  { @content; } }
@mixin laptop   { @media (min-width: #{$width_laptop})  { @content; } }
@mixin desktop  { @media (min-width: #{$width_desktop}) { @content; } }
@mixin nophablet  { @media (max-width: #{$width_phablet - 1px}) { @content; } }

// Aspect ratio 
// @include aspectRatio(16, 9);
@mixin aspectRatio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// Make background images fill div, marked !important to override WordPress featured image placement
// @include bgImage;
//––––––––––––––––––––––––––––––––––––––––––––––––––
@mixin bgImage() {
  background-repeat: no-repeat !important; 
  background-position: center !important;
  background-size: cover !important;
}

// Top and bottom inset box shadow
// @include innerShadow;
//––––––––––––––––––––––––––––––––––––––––––––––––––
@mixin innerShadow() {
    box-shadow: inset 0 $shadow_size $shadow_size (-$shadow_size) $shadow_inset, 
                inset 0 (-$shadow_size) $shadow_size (-$shadow_size) $shadow_inset;
}

// Outer box shadow
// @include dropShadow;
//––––––––––––––––––––––––––––––––––––––––––––––––––
@mixin dropShadow() {
    box-shadow: 0 0 $shadow_size 0 $shadow_outer;
}




// Keyframes for featured item link arrow
//––––––––––––––––––––––––––––––––––––––––––––––––––
@keyframes bounceRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}