.navbar {
  text-align: right;

  img {
    max-width: 125px;

    // @include laptop {
    //   margin-right: 90px;
    // }
  }

  .btn {
    background-color: $color_primary;
    border-color: $color_primary;
    color: #fff !important;

    &:active, 
    &.active, 
    &:focus,
    &:hover {
      outline: none;
      border: none;
      box-shadow: none;
      background-color: darken($color_primary, 5%);
      border-color: darken($color_primary, 5%);
      border: 1px solid transparent;
    }
  }

  .primary-menu {
    margin: 0 0 15px 0;

    @include laptop {
      margin: 0 0 0 60px;
    }

    a {
      color: $color_black;
      font-family: 'montserratsemibold';

      &:hover {
        color: lighten($color_black, 15%);
      }

      @include laptop {
        margin: 0 30px;
      }
    }
  }

  .nav-cta-button {
    text-transform: uppercase;
    padding: 10px 24px;
    font-size: 15px;
  }

}

.navbar-collapse {
  padding: 0 5px 15px 0;

  @include laptop {
    padding: 0;
  }
}

.icon { 
  position: relative;
  display: inline-flex;
  width: 1em;
  height: 1em;
  margin: 0 auto;
  bottom: .1em;
  fill: currentColor;
}



// menu-toggle
//––––––––––––––––––––––––––––––––––––––––––––––––––
button.navbar-toggler {
  display: block;
  z-index: 20;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: $menu_toggle_width;
  height: $menu_toggle_height;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  float: right;
  position: relative;
  background-color: transparent;

  @include laptop {
    display: none;
  }

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
  }

  // active state, i.e. menu open 
  &.is-active span {
    transform: rotate(-225deg);
  }

  &.is-active span::before {
    top: 0;
    transform: rotate(90deg);
  }

  &.is-active span::after {
    background-color: transparent;
    bottom: 0;
    transform: rotate(-0deg);
  }

  &.is-active span::before,
  &.is-active span::after {
    transition: $transistion_duration;
  }

  span {
    display: block;
    position: absolute;
    top: ($menu_toggle_height / 2) - ($menu_toggle_bar / 2);
    left: $menu_toggle_pad;
    right: $menu_toggle_pad;
    height: $menu_toggle_bar;
    background-color: $menu_toggle_color;
    transition-duration: $transistion_duration;

    &::before, 
    &::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: $menu_toggle_bar;
      background-color: $menu_toggle_color;
      content: "";
      transition-duration: $transistion_duration;
    }
    
    &::before {
      top: -$menu_toggle_bar - $menu_toggle_bar_space;
      transition-property: top, transform;
    }

    &::after {
      bottom: -$menu_toggle_bar - $menu_toggle_bar_space;
      transition-property: bottom, transform;
    }
  }
}





/*
------------------------------
scroll to top button
------------------------------
*/

.scrollup {
  @extend .btn;
  // @extend .btn-primary;

  // color: #c02323;
  background-color: $color_primary;
  border-color: $color_primary;

  line-height: 36px;
  height: 40px;
  width: 40px; 

  position: fixed;
  z-index: 1000;
  opacity:0;
  right:-100%;
  bottom: 20px;
  transition: all 1s;

  &:active, 
  &.active, 
  &:focus,
  &:hover {
    outline: none;
    border: none;
    box-shadow: none;
    background-color: darken($color_primary, 5%);
    border-color: darken($color_primary, 5%);
  }

  &.show {
    opacity:1;
    right: 20px;
  }
}

.scrollup-chevron {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 16px;
  width: 16px;
  fill: #fff;
    // fill: $link-color;
}




