// base.scss

// Colors
$color_primary: #db5935; // orange  219, 89, 53
$color_secondary: #da3367; // pink  218, 51, 103
$color_tertiary: #f0ae43; // yellow 240, 174, 67
$color_white: #fff;
$color_offwhite: #efefef;
$color_lightgray: #ebe9df;
$color_mediumgray: #f2f4f5;
$color_darkgray: #a6a6a6;
$color_black: #363a3d;

$color_tans_primary: rgba(219, 89, 53, 1); // orange 
$color_tans_secondary: rgba(218, 51, 103, 1); // pink 
$color_tans_tertiary: rgba(240, 174, 67, 1); // yellow 

$color_text_headings: #191919;
$color_text_main: #595959;


$color_footer_bg: $color_lightgray;
$color_footer_border: $color_offwhite;



// Spacing used throughout 
$spacing_unit: 30px;


// Responsive breakpoints for mixins
//––––––––––––––––––––––––––––––––––––––––––––––––––
$column_margin: 20px; 
$width_mobile: 480px;
$width_phablet: 576px;
$width_tablet: 768px;
$width_laptop: 992px;
$width_desktop: 1200px;

// Inset/drop shadow color and size
//––––––––––––––––––––––––––––––––––––––––––––––––––
$shadow_inset: rgba(0,0,0,0.2);
$shadow_outer: rgba(0,0,0,0.2);
$shadow_size: $column_margin;


// Header variables - height, margin, WP admin offset, and internal anchor link offset
//––––––––––––––––––––––––––––––––––––––––––––––––––
$header_height: 60px;
$toggler_height: 40px;
$toggler_width: 36px;
$header_height_lg: 122px;


// Transition duration for hover/toggle effects
//––––––––––––––––––––––––––––––––––––––––––––––––––
$transistion_duration: 0.3s;

$menu_toggle_width: $toggler_width; // width of button area
$menu_toggle_height: $toggler_height;       // height of button area
$menu_toggle_bar: 2px;                    // thickness of button bars
$menu_toggle_pad: 5px;   // left/right padding between button area and bars.
$menu_toggle_bar_space: 5px;              // spacing between button bars
$menu_toggle_color: $color_primary;




// Height and borders for featured homepage grid
//––––––––––––––––––––––––––––––––––––––––––––––––––
$feature_grid_height: 750px;
$feature_grid_col1: $feature_grid_height;
$feature_grid_col2: $feature_grid_height / 2;
$feature_grid_col3: $feature_grid_height / 3;
$feature_grid_border: 4px;





