---
layout: default
---
<article class="page">
	
  <header class="post-header">
    <div class="container">
      <h1 class="post-title">{{ page.title | escape }}</h1>
    </div>
  </header>

  <div class="container">
    <div class="post-content">

      <div class="row">
          {{ content }}
      </div>
      
    </div>
  </div>
  
</article>
