<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body id="page-top" class="site {% if page.slug %}{{ page.slug }}{% endif %}">

{% comment %}<!-- Google Tag Manager -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P35RBCP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager -->{% endcomment %}

  <div class="site-header">
    {%- include header.html -%}
  </div>
  
  <main class="site-content">
    <div class="main-content">
      {{ content }}
    </div>
  </main>

  <footer class="site-footer">
    {%- include footer.html -%}
  </footer>

  {%- include scripts.html -%}

</body>

</html>