---
layout: default
---
<article class="post h-entry" itemscope itemtype="https://schema.org/BlogPosting">

  <header class="post-header">
    <div class="container">
      <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
      <span class="post-meta">
        <span class="article-date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: "%b %-d, %Y" }}
        </span>
      </span>
    </div>
  </header>

  <div class="container">
    <div class="post-content" itemprop="articleBody">

      <div class="row">
        <!-- <div class="col-md-8 offset-md-2"> -->
        <div class="col-md-8">
          {{ content }}



          <div class="share-bar">
              <h4>Share this:</h4>
              <div class="share-buttons">
                  <a class="btn btn-primary social-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                      onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                      title="Share on Facebook"><svg class="icon icon-facebook" xmlns="https://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"/></svg> Facebook
                  </a>

                  <a class="btn btn-primary social-twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                      onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                      title="Share on Twitter"><svg class="icon icon-twitter" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"/></svg> Twitter
                  </a>

                  <a class="btn btn-primary social-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={{ site.title }}"
                      onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                      title="Share on LinkedIn"><svg class="icon icon-linkedin" class="icon icon-linkedin" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><path d="M100.3 480H7.4V180.9h92.9V480zM53.8 140.1C24.1 140.1 0 115.5 0 85.8 0 56.1 24.1 32 53.8 32c29.7 0 53.8 24.1 53.8 53.8 0 29.7-24.1 54.3-53.8 54.3zM448 480h-92.7V334.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V480h-92.8V180.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V480z"/></svg>  LinkedIn
                  </a>
 
                  <a class="btn btn-primary social-email" href="mailto:?subject={{ page.title }}&amp;body=Check out this site {{ site.url }}{{ site.baseurl }}{{ page.url }}"
                      title="Share via Email">
                      <svg class="icon icon-linkedin" class="icon icon-linkedin" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><path d="M464 4.3L16 262.7C-7 276-4.7 309.9 19.8 320L160 378v102c0 30.2 37.8 43.3 56.7 20.3l60.7-73.8 126.4 52.2c19.1 7.9 40.7-4.2 43.8-24.7l64-417.1C515.7 10.2 487-9 464 4.3zM192 480v-88.8l54.5 22.5L192 480zm224-30.9l-206.2-85.2 199.5-235.8c4.8-5.6-2.9-13.2-8.5-8.4L145.5 337.3 32 290.5 480 32l-64 417.1z"/></svg> Email
                  </a>
              </div>
          </div>




          {% comment %}

          {% include related-posts.html %}

          {% endcomment %}



          {% comment %}
          post navigation
          {% endcomment %}
          
          <div class="post-navigation">
            <div class="row">
              <div class="col-md-6">
                {% if page.previous.url %}
                <h4>Previous:</h4>
                <p><a href="{{page.previous.url}}">{{page.previous.title}}</a></p>
                {% endif %}
              </div>
              <div class="col-md-6">
                {% if page.next.url %}
                <h4>Next:</h4>
                <p><a href="{{page.next.url}}">{{page.next.title}}</a></p>
                {% endif %}
              </div>
            </div>
          </div>




        </div>
        <div class="col-md-4">

          {%- include sidebar-default.html -%}
          
        </div>
      </div>


















{% comment %}

<div class="callout">
<p>Sign up for my mailing list and get a free download of "Espionage!"</p>
<form action="https://gumroad.com/follow_from_embed_form" class="form gumroad-follow-form-embed" method="post">
<input name="seller_id" type="hidden" value="3566828151287">
<input name="email" placeholder="Your email address" type="email">
<button data-custom-highlight-color="" type="submit">Follow</button>
</form>
</div>
{% endcomment %}








      {%- if site.disqus.shortname -%}
      {%- include disqus_comments.html -%}
      {%- endif -%}

      <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
    </div>
  </div>










</article>
