---
layout: default
---
<article class="page">
	
  <header class="post-header">
    <div class="container">
      <h1 class="post-title">{{ page.title | escape }}</h1>
      {% comment %}<span class="post-title">{{ page.subtitle | escape }}</span>{% endcomment %}
    </div>
  </header>

  <div class="container">
    <div class="post-content">

      <div class="row">
        <div class="col-lg-8">
          {{ content }}
        </div>
        <div class="col-lg-4">

          {%- include sidebar-default.html -%}
          
        </div>
      </div>








    </div>
  </div>
  
</article>
