---
layout: default
---
<article class="post h-entry" itemscope itemtype="https://schema.org/BlogPosting">

  <header class="post-header">
    <div class="container">
      <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    </div>
  </header>

  <div class="container">
    <div class="post-content" itemprop="articleBody">

      <div class="row">
        <!-- <div class="col-md-8 offset-md-2"> -->
        <div class="col-lg-8">
          {{ content }}

          <div class="related-posts">
          <h3>Other offerings you may enjoy</h3>
          {% include related-posts.html %}
          </div>

          {% comment %}
          <div class="share-bar">
              <h4>Share this:</h4>
              <div class="share-buttons">
                  <a class="btn btn-primary social-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                      onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                      title="Share on Facebook"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg> Facebook
                  </a>

                  <a class="btn btn-primary social-twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                      onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                      title="Share on Twitter"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg> Twitter
                  </a>

                  {% comment %}
                  <a href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                      onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                      title="Share on Google+" >
                      <i class="fa fa-google-plus share-button"> google</i>
                  </a>

                  <a href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                      onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;"
                      title="Share on Pinterest" >
                      <i class="fa fa-pinterest-p share-button"> pinterest</i>
                  </a>

                  <a href="http://www.tumblr.com/share/link?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                      onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;"
                      title="Share on Tumblr" >
                      <i class="fa fa-tumblr share-button"> tumblr</i>
                  </a>

                  <a href="http://www.reddit.com/submit?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                      onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;"
                      title="Share on Reddit" >
                      <i class="fa fa-reddit-alien share-button"> reddit</i>
                  </a>
                  {% endcomment %}

                  <a class="btn btn-primary social-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={{ site.title }}"
                      onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                      title="Share on LinkedIn"><svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg> LinkedIn
                  </a>

                  <a class="btn btn-primary social-email" href="mailto:?subject={{ page.title }}&amp;body=Check out this site {{ site.url }}{{ site.baseurl }}{{ page.url }}"
                      title="Share via Email"><svg class="icon icon-plane"><use xlink:href="#icon-plane"></use></svg> Email
                  </a>
              </div>

          </div>
          {% endcomment %}



          {% comment %}
          post navigation
          <div class="post-navigation">
            <div class="row">
              <div class="col-md-6">
                {% if page.previous.url %}
                <h4>Previous:</h4>
                <p><a href="{{page.previous.url}}">{{page.previous.title}}</a></p>
                {% endif %}
              </div>
              <div class="col-md-6">
                {% if page.next.url %}
                <h4>Next:</h4>
                <p><a href="{{page.next.url}}">{{page.next.title}}</a></p>
                {% endif %}
              </div>
            </div>
          </div>

          {% endcomment %}



        </div>
        <div class="col-lg-4">

          {%- include sidebar-default.html -%}
          
        </div>
      </div>

    </div>
  </div>
  
</article>
